<section>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let product of products">
            <div class="product">
                <img [src]="product.productImage" class="img-fluid" alt="" srcset="">
                <h3>{{product.productName}}</h3>
                <h6 class="text-success">{{product.productPrice|currency}}</h6>
                <p>{{product.productDes}}</p>
                <button nz-button (click)='addToCart(product.id)'>Add to cart</button>
            </div>
        </div>
    </div>

</section>